{% load i18n %}

<form method="post"
      action="{% url 'next_element' project_id %}"
      hx-post="{% url 'next_element' project_id %}"
      hx-swap="innerHTML"
      hx-target="{% if update_whole_scene %}#game_body{% else %}this{% endif %}"
      enctype="multipart/form-data">
  {% csrf_token %}

  <div class="dialogue">
    <p id="dialogue-text">{{ content|safe }}</p>
    {% if connections|length == 1 %}
      <input type="hidden" name="target_id" value="{{ connections.0.target_id }}">
      <input type="hidden" name="current_id" value="{{ element_id }}">
      <input type="submit" value={% trans "Next" %} class="button" style="margin-right: 10px">
    {% else %}
      {% for connection in connections %}
        <input type="submit" value="{{ connection.target_id }}" name="{{ connection.label }}" class="button"
               style="margin-right: 10px">
      {% endfor %}
    {% endif %}
  </div>

</form>

