{% load i18n %}
{% load striphtml %}

<form method="post"
      action="{% url 'next_element' project_id %}"
      hx-post="{% url 'next_element' project_id %}"
      hx-swap="innerHTML"
      hx-target="{% if update_whole_scene %}#game_body{% else %}this{% endif %}"
      enctype="multipart/form-data">
  {% csrf_token %}

  <div class="dialogue">
    <p id="dialogue-text">{{ content|safe }}</p>
    {% for connection in connections %}
      <input type="hidden" name="target_id_{{ forloop.counter0 }}" value="{{ connection.target_id }}">
      <input type="submit" value=
        {% if not connection.label %} {% trans "Next" %}
        {% else %} "{{ connection.label|striphtml }}" {% endif %}
             class="button"
             name="submit_{{ forloop.counter0 }}" style="margin-right: 10px">
    {% endfor %}
    <input type="hidden" name="current_id" value="{{ element_id }}">
  </div>

</form>

